In [7]:
import numpy
from matplotlib import pyplot
%matplotlib inline
import pandas

P6 = numpy.loadtxt('Powers_Trial6', delimiter = '|')
S6 = numpy.loadtxt('Speeds_Trial6', delimiter = '|')
T6 = numpy.loadtxt('TMax_Trial6', delimiter = '|')
MD6 = numpy.loadtxt('Depths_Trial6', delimiter = '|')
column_names = numpy.ndarray.tolist(S6)
row_names = numpy.ndarray.tolist(P6)

In [8]:
row_names

[10.0, 15.0, 20.0, 25.0]

In [9]:
pandas.DataFrame(numpy.around(MD6,0), columns = column_names, index =row_names)

       0.20   0.35   0.50
10.0   91.0   82.0   72.0
15.0  102.0   94.0   86.0
20.0  110.0  102.0   95.0
25.0  115.0  109.0  102.0

In [10]:
pandas.DataFrame(numpy.around(T6,0), columns = column_names, index =row_names)

         0.20     0.35     0.50
10.0  16255.0  13388.0  11662.0
15.0  24232.0  19933.0  17343.0
20.0  32210.0  26477.0  23023.0
25.0  40187.0  33021.0  28704.0